<!-- Header Area Start -->
<header class="top">
    <div class="header-area ptb-18 header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-xs-12">
                    <div class="logo">
                        <a href="{% url 'home' %}"><img src="/media/img/logo/logo.png" alt="Marathon"/></a>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="content-wrapper">
                        <!-- Main Menu Start -->
                        <div class="main-menu text-center">
                            <nav>
                                <ul>
                                    <li><a href="{% url 'competitions_list' %}">Соревнования</a></li>
                                    <li><a href="{% url 'page_view' 'photograpers' %}">Фотографам</a></li>
                                    <li><a href="{% url 'page_view' 'affiliate' %}">Огранизаторам</a></li>
                                    <li><a href="{% url 'page_view' 'partners' %}">Партнеры</a></li>
                                    <li><a href="{% url 'posts_list' %}">Блог</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <div class="header-contact text-right">
                        <a class="banner-btn" data-text="Логин" href="{% url 'login' %}"><span>Логин</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->